.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
  list-style: none;
  padding: 0;
  width: 100%;

  li > div:last-child {
    height: 100%;
  }
}
