.section {
  width: 100%;
}

.section + .section {
  margin-top: var(--space-sm);
}

.sectionHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--space-sm);
  gap: var(--space-sm);
}

.py-sm {
  padding-block: var(--space-sm);
}
.py-md {
  padding-block: var(--space-md);
}
.py-lg {
  padding-block: var(--space-lg);
}
.py-xl {
  padding-block: var(--space-xl);
}

.pt-sm {
  padding-top: var(--space-sm);
}
.pt-md {
  padding-top: var(--space-md);
}
.pt-lg {
  padding-top: var(--space-lg);
}
.pt-xl {
  padding-top: var(--space-xl);
}

.pb-sm {
  padding-bottom: var(--space-sm);
}
.pb-md {
  padding-bottom: var(--space-md);
}
.pb-lg {
  padding-bottom: var(--space-lg);
}
.pb-xl {
  padding-bottom: var(--space-xl);
}
