.page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  width: 100%;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 20rem;
  }
}
