.contentWrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--space-md);
  padding-block: var(--space-sm);
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  grid-row: 1 / -1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.profileImg {
  width: 100%;
  height: auto;
  background-color: var(--white);
  border: 2px solid var(--black);
}

.profileActions {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}
