.itemCard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid var(--black);
  background-color: var(--white);
  transition: all 0.15s ease-out;

  &:hover,
  &:focus-within {
    cursor: pointer;
    transform: translateY(-2px);
  }
}

.itemImgWrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--white);
  background-color: color-mix(in srgb, var(--indigo) 25%, white);
}

.itemImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.itemLink {
  &::before {
    content: "";
    position: absolute;
    inset: 0;
  }
}

.itemContent {
  width: 100%;
  padding: var(--space-xs);
  border-top: 2px solid var(--black);
}
