.loanCard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  border: 2px solid var(--black);
  padding: var(--space-xs);
  background-color: var(--white);
  transition: all 0.15s ease-out;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus-within {
    transform: translateY(-2px);
  }
}

.userLink,
.itemLink {
  font-weight: 600;
  text-decoration: none;
  color: var(--black);

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.itemLink {
  color: var(--blue);
}

.itemDetails {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.itemImage {
  width: 60px;
  height: 60px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
