@use "./reset.css";
@use "./variables.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

html {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-body);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //
}
