@use "./reset.css";
@use "./variables.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

html {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  display: flex;
  flex-direction: column;
  color: var(--color-text);
  background: var(--color-background);
  font-family: var(--font-body);
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  //
}

.vh {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

ul.unstyled,
ol.unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}
