@use "./reset.css";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --content-width: 55rem;
  --viewport-padding: 16px;

  @media (min-width: 35rem) {
    --viewport-padding: 24px;
  }

  @media (prefers-color-scheme: dark) {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family:
    var(--font-montserrat), Arial, Helvetica, ui-sans-serif, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-neuton), Georgia, "Times New Roman", Times, serif;
}
