:root {
  /* Colors */
  --black: #211917;
  --white: #ffffff;
  --cream: #f6f5f2;
  --honey: #eeae3e;
  --orange: #e1763a;
  --red: #d93931;
  --purple: #843388;
  --indigo: #58358a;
  --color-background: var(--white);
  --color-text: var(--black);

  /* Spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xl: 64px;

  /* Fonts */
  --font-body:
    var(--font-geist, "sans-serif"), Arial, Helvetica, ui-sans-serif, sans-serif;
  --font-display: var(--font-tiffany-laurence, "serif"), Georgia, Times, serif;

  /* Gradients */
  --stripes: linear-gradient(
    to bottom,
    var(--indigo),
    var(--indigo) 20%,
    var(--purple) 20%,
    var(--purple) 40%,
    var(--red) 40%,
    var(--red) 60%,
    var(--orange) 60%,
    var(--orange) 80%,
    var(--honey) 80%,
    var(--honey) 100%
  );

  /* Misc */
  --radius: 10px;

  /* Layout */
  --content-width: 72rem;
  --viewport-padding: 16px;

  @media (min-width: 35rem) {
    --viewport-padding: 24px;
  }
}
