.button {
  background-color: transparent;
  color: var(--black);
  border: 2px solid var(--black);
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.5em 1em;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all 0.15s ease-out;

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
  }
}
