.button {
  display: inline-block;
  background-color: var(--indigo);
  color: var(--white);
  border: 2px solid var(--indigo);
  border-radius: var(--radius);
  cursor: pointer;
  padding: 0.8em 1.2em 0.7em;
  line-height: 1;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.02em;
  transition: all 0.15s ease-out;

  &:hover,
  &:focus {
    color: var(--white);
    background-color: var(--black);
    border-color: var(--black);
  }
}
