.trigger {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  transition: all 0.15s ease-out;
  text-decoration: none;
  color: var(--black);
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  padding: 0;
  cursor: pointer;

  &:not(:focus-visible) {
    outline: none;
  }

  &:hover,
  &:focus {
    border-color: var(--black);
  }
}

.triggerIcon {
  transform: translateY(-2px);
}

.content {
  min-width: 20ch;
  background-color: var(--white);
  border: 2px solid var(--black);
  padding: var(--space-xs) 0;
  will-change: transform, opacity;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xs);
  color: var(--black);
  text-decoration: none;
  padding: 0 var(--space-sm);
  width: 100%;

  svg {
    opacity: 0;
    transform: translateX(-3px);
    transition: all 0.15s ease-out;
  }

  &:hover,
  &:focus {
    outline: none;
    color: var(--indigo);

    svg {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
