.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "recentItems"
    "borrowing"
    "borrowedFromYou";
  gap: var(--space-sm);

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "recentItems recentItems"
      "borrowing borrowedFromYou";
  }
}

.recentlyAdded {
  grid-area: recentItems;
}

.currentlyBorrowing {
  grid-area: borrowing;
}

.currentlyBorrowedFromYou {
  grid-area: borrowedFromYou;
}
