.wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  padding: 0 var(--viewport-padding);
  margin-left: auto;
  margin-right: auto;
}
