.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.input,
.textarea {
  border: 2px solid var(--black);
  padding: var(--space-xs);
}
