.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-sm);
  width: 100%;
}

.label {
  font-size: 1rem;
  line-height: 1;
}

.input,
.textarea,
.select {
  border: 1px solid var(--black);
  padding: var(--space-xs);
  width: 100%;

  &:hover,
  &:focus {
    outline-color: var(--indigo);
  }
}

.fieldset {
  padding: 0;
  border: 0;
}
