.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  margin-bottom: var(--space-sm);
}

.label {
  font-size: 1rem;
  line-height: 1;
}

.input,
.textarea,
.select {
  border: 1px solid var(--black);
  padding: var(--space-xs);

  &:hover,
  &:focus {
    outline-color: var(--indigo);
  }
}
