.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-block: var(--space-md);
}

.headerContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: var(--space-sm);
}

.logoText {
  line-height: 1;
  font-family: var(--font-display);
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: var(--black);
}

.nav {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

.navLink {
  // font-size: 0.8rem;
  font-weight: 500;
  // text-transform: uppercase;
  // letter-spacing: 0.02em;
  transition: all 0.15s ease-out;
  text-decoration: none;
  color: var(--black);
  border-bottom: 2px solid transparent;

  &:hover,
  &:focus {
    border-color: var(--black);
  }
}
