.friendRequestCard {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--black);
  background-color: var(--white);
  padding: var(--space-xs);
  transition: all 0.15s ease-out;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus-within {
    transform: translateY(-2px);
  }
}

.userDetails {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}

.userImage {
  width: 40px;
  height: 40px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.buttons {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
}
